.page {
    min-width: 320px;
    min-height: 10023px;
    font-family: 'Inter';
    color: #FFFFFF;
    background-color: #2A2C2F;
}
@media (min-width: 767px) {
    .page {
        min-width: 768px;
        min-height: 6855px;
    }
}
@media (min-width: 1023px) {
    .page {
        min-width: 1024px;
        min-height: 6895px;
    }
}
@media (min-width: 1279px) {
    .page {
        min-width: 1280px;
        min-height: 6875px;
    }
}