.place__image {
    width: 100%;
    min-height: 320px;
}
@media (min-width: 768px) {
    .place__image {
        min-height: 340px;
        grid-area: image;
    }
}
@media (min-width: 1024px) {
    .place__image {
        min-height: 440px;
    }
}
@media (min-width: 1280px) {
    .place__image {
        min-height: 460px;
    }
}