.page {
    min-width: 320px;
    min-height: 10023px;
    font-family: 'Inter';
    color: #FFFFFF;
    background-color: #2A2C2F;
}


.header {
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
}
.header__logo {
    padding-top: 16px;
    width: 142px;
    height: 42px;
}
.header__lang {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    padding-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}
.header__lang_ru {
    min-width: 22px;
    min-height: 20px;
    text-decoration-line: underline;
}
.header__lang_en {
    max-width: 22px;
    min-height: 20px;
}



.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 48px;
}
.lead__title {
    margin: 0;
    padding: 0;
    margin: auto;
    max-width: 288px;
    min-height: 88px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
}
.lead__subtitle {
    margin: 0;
    padding: 0;
    margin: auto;
    max-width: 288px;
    min-height: 40px;
    padding-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.lead__image {
    padding-top: 40px;
    width: 100%;
}
.lead__caption {
    margin: 0;
    padding: 0;
    padding-left: 16px;
    display: flex;
    justify-content: flex-start;
    max-width: 158px;
    padding-top: 8px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
}



.intro {
    padding-right: 16px;
    padding-left: 16px;
    min-width: 288px;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}
.intro__title {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
}
.intro__text {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}
.intro__list {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 34px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}



.photo-grid {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 12px;
    padding-top: 64px;
    padding-right: 16px;
    padding-left: 16px;
}
.item {
    width: 288px;
    height: 216px;
}



.places {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 64px;
}
.place {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    row-gap: 32px;
}
.place__title {
    margin: 0;
    padding: 0;
    width: 288px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    padding-right: 16px;
    padding-left: 16px;
}
.place__image {
    width: 100%;
    height: 320px;
}
.place__website {
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 12px;
}
.place__url {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}
.place__link {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.place__paragraph {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 25px;
    padding-right: 16px;
    padding-bottom: 50px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}
.place__paragraph_first {
    margin: 0;
    padding: 0;
}
.place__paragraph_second {
    margin: 0;
    padding: 0;
}




.cover {
    display: flex;
    flex-direction: column;
    background-image: url(../../images/cover-trains.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    margin-top: 16px;
    row-gap: 16px;
}
.cover__title {
    margin: 0;
    padding: 0;
    padding-top: 33px;
    margin: auto;
    width: 288px;
    height: 70px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
}
.cover__subtitle {
    margin: 0;
    padding: 0;
    padding-bottom: 33px;
    width: 288px;
    height: 48px;
    margin: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}





.footer {
    margin: 0;
    padding: 0;
    padding-top: 64px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
}
.footer__column {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 32px;
}
.footer__p {
    margin: 0;
    padding: 0;
}
.footer__link {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
}
.footer__author {
    margin: 0;
    padding: 0;
    padding-top: 48px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}




@media (min-width: 768px) {
    .page {
        min-width: 768px;
        min-height: 6855px;
    }
    .header {
        padding-right: 24px;
        padding-left: 24px;
    }
    .header__logo {
        padding-top: 28px;
        width: 176px;
        height: 52px;
    }
    .header__lang {
        padding-top: 46px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }
    .header__lang_ru {
        width: 30px;
        height: 28px;
    }
    .header__lang_en {
        width: 29px;
        height: 28px;
    }
    .lead__title {
        padding-right: 24px;
        padding-left: 24px;
        max-width: 720px;
        min-height: 200px;
        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
        text-align: center;
    }
    .lead__subtitle {
        padding-right: 64px;
        padding-left: 64px;
        max-width: 640px;
        min-height: 72px;
        padding-top: 32px;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
    }
    .lead__image {
        padding-top: 56px;
        width: 100%;
    }
    .lead__caption {
        margin: 0;
        padding: 0;
        padding-top: 8px;
        padding-left: 24px;
    }
    .intro {
        padding-right: 24px;
        padding-left: 24px;
        max-width: 720px;
        padding-top: 88px;
    }
    .intro__title {
        width: 100%;
        font-weight: 900;
        font-size: 54px;
        line-height: 58px;
    }
    .intro__text {
        width: 100%;
    }
    .intro__list {
        padding-top: 33px;
    }
    .photo-grid {
        row-gap: 16px;
        column-gap: 16px;
        padding-top: 88px;
        padding-right: 24px;
        padding-left: 24px;
    }
    .item {
        width: 352px;
        height: 264px;
    }


    .places {
        padding-top: 88px;
        padding-right: 24px;
        padding-left: 24px;
    }
    .place {
        display: grid;
        gap: 28px;
        grid-template-rows: 3;
        grid-template-columns: 340px 352px;
        grid-template-areas:
        "title website"
        "image paragraph"
        "image paragraph"
    }
    .place__title {
        padding: 0;
        grid-area: title;
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
    }
    .place__image {
        width: 100%;
        min-height: 340px;
        grid-area: image;
    }
    .place__website {
        padding: 0;
        grid-area: website;
    }
    .place__url {

    }
    .place__link {
 
    }
    .place__paragraph {
        grid-area: paragraph;
        margin-top: 48px;
        padding: 0;
    }
    .place__paragraph_first {

    }
    .place__paragraph_second {

    }
}
@media (min-width: 1024px) {
    .page {
        min-width: 1024px;
        min-height: 6895px;
    }
    .header {
        padding-right: 48px;
        padding-left: 48px;
    }
    .lead__title {
        padding-right: 152px;
        padding-left: 152px;
    }
    .lead__subtitle {
        padding-right: 192px;
        padding-left: 192px;
    }
    .lead__image {
        width: 928px;
        padding-right: 48px;
        padding-left: 48px;
        margin: auto;
    }
    .lead__caption {
        padding-left: 48px;
        padding-top: 8px;
    }
    .intro {
        padding-left: 48px;
        max-width: 690px;
        padding-top: 92px;
    }
    .intro__title {
        width: 100%;
    }
    .intro__text {
        width: 100%;
    }
    .photo-grid {
        row-gap: 14px;
        column-gap: 14px;
        padding-top: 92px;
        padding-right: 48px;
        padding-left: 48px;
    }
    .item {
        width: 300px;
        height: 225px;
    }
}
@media (min-width: 1280px) {
    .page {
        min-width: 1280px;
        min-height: 6875px;
    }
    .lead {
        padding-top: 56px;
    }
    .lead__title {
        padding-right: 280px;
        padding-left: 280px;
    }
    .lead__subtitle {
        padding-right: 320px;
        padding-left: 320px;
    }
    .lead__image {
        width: 984px;
        padding-right: 148px;
        padding-left: 148px;
    }
    .lead__caption {
        padding-left: 148px;
    }
    .intro {
        padding-right: 442px;
        padding-left: 148px;
    }
    .photo-grid {
        row-gap: 16px;
        column-gap: 16px;
    }
    .item {
        width: 284px;
        height: 213px;
    }
}

