.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 106px;
}
@media (min-width: 767px) {
    .lead {
        padding-top: 128px;
    }
}
@media (min-width: 1279px) {
    .lead {
        padding-top: 136px;
    }
}