.intro {
    padding-right: 16px;
    padding-left: 16px;
    min-width: 288px;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}
@media (min-width: 767px) {
    .intro {
        padding-right: 24px;
        padding-left: 24px;
        max-width: 720px;
        padding-top: 88px;
    }
}
@media (min-width: 1023px) {
    .intro {
        padding-left: 48px;
        max-width: 690px;
        padding-top: 92px;
    }
}
@media (min-width: 1279px) {
    .intro {
        padding-right: 442px;
        padding-left: 148px;
    }
}