.cover {
    margin: 0;
    padding: 0;
}
@media (min-width: 768px) {
    .cover {
        min-height: 480px;
        row-gap: 32px;
    }
}
@media (min-width: 1024px) {
    .cover {
        min-height: 640px;
    }
}
@media (min-width: 1280px) {
    .cover {
        margin-right: 48px;
        margin-left: 48px;
        max-width: 1184px;
        min-height: 740px;
    }
}