.header__lang_en {
    margin: 0;
    padding: 0;
    width: 22px;
    height: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}
@media (min-width: 767px) {
    .header__lang_en {
        width: 29px;
        height: 28px;
    }
}